.results-page {
    #results-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        #result-counter {
            color: white;
            font-size: 2rem;
        }
    }

    #results-list {
        width: 100%;
    }

}